/* My Styles */

/* Center to page */
body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(21, 21, 30);
  }
  
  /* diagnostic styling */
  section {
    background: rgb(21, 21, 30);
  }
  